
/* УРОВНИ Z-INDEX ДЛЯ ФОНОВ И PICS :  3rd - 10, 2nd - 20, 1st - 30, other pics - 40*/

@font-face {
    font-family: 'Pixel';
    src: url(@/fonts/pixel.ttf);
}
:root{
    --top-pos:0;
    --left-pos:0;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixel';
    /* pointer-events: none; */
}
body{
    background-color: #010137;
    height: 100vh;
    width: 100vw;
}
.container{
    margin: 0 auto;
    max-width: 1400px;
}
.background{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.img{
    background-image: url(@/assets/back-city.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 940px;
    width: 1920px;
    position: relative;
    top: var(--top-pos);
    left: var(--left-pos);
    user-select: none;
}
.depth-levels{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 940px;
    width: 1920px;
    pointer-events: none;
}
.third-level-depth { 
    background-image: url(@/assets/depth-levels/third-level-depth.png);
    z-index: 10;
}
.second-level-depth { 
    background-image: url(@/assets/depth-levels/second-level-depth.png);
    z-index: 20;
}
.first-level-depth { 
    background-image: url(@/assets/depth-levels/first-level-depth.png);
    z-index: 30;
}
@media (max-width: 1600px) and (min-height: 760px){
    .img{
        transform: scale(.9);
        left: -206px;
        top: -100px;
    }
}
@media (max-width: 1600px) and (min-height: 884px){
    .img{
        transform: scale(1);
        left: -206px;
        top: -50px;
    }
}
@media (max-width: 1366px){
    .img{
        transform: scale(.75);
        left: -316px;
        top: -205px;
    }
}
@media (max-width: 1280px) and (min-height: 580px){
    .img{
        transform: scale(.67);
        left: -316px;
        top: -205px;
    }
}
@media (max-width: 1280px) and (min-height: 628px){
    .img{
        transform: scale(.7);
        left: -316px;
        top: -155px;
    }
}
@media (max-width: 1280px) and (min-height: 660px){
    .img{
        transform: scale(.8);
        left: -316px;
        top: -185px;
    }
}
@media (max-width: 1280px) and (min-height: 820px){
    .img{
        transform: scale(1);
        left: -316px;
        top: -100px;
    }
}
@media (max-width: 1280px) and (min-height: 884px){
    .img{
        transform: scale(1);
        left: -316px;
        top: -50px;
    }
}
@keyframes opacity-on {
    to{
        opacity: 1;
    }
}
@keyframes opacity-off {
    to{
        opacity: 0;
    }
}